
@mixin flexCenter($direction, $justified, $alignment) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justified;
	align-items: $alignment;
}

@mixin fallingAnimMix($position, $duration, $delayed) {
	top: -20%;
	left: $position;
	animation-name: fallingAnimation;
	animation-iteration-count: infinite;
	animation-duration: $duration;
	animation-delay: $delayed;
	animation-timing-function: ease-in;
}

@mixin posAbsolute {
	position: absolute;
	top: 0;
	left: 0;
}

@mixin HaW($hei, $wei) {
	height: $hei;
	width: $wei;
}

$shadowGreen: rgba(30, 241, 189, 0.5);
$shadowBlue: rgba(64, 188, 249, 0.5);
$shadowRed: rgba(249, 83, 64, 0.5);
$shadowBrown: rgba(255, 153, 0, 0.5);
$shadowPurple: rgba(64, 85, 249, 0.5);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	.section {
		@include posAbsolute();
		width: 100%;
		height: 100vh;
		overflow: hidden;
		@include flexCenter(row, center, center);
		.set {
			@include posAbsolute();
			width: 100%;
			height: 100%;
			pointer-events: none;
			div {
				position: absolute;
				display: block;
				&:nth-child(1) {
					@include fallingAnimMix(2%, 8s, 4s);
					@include HaW(20px, 20px);
				}
				&:nth-child(2) {
					@include fallingAnimMix(12%, 10s, 2s);
					@include HaW(30px, 30px);
				}
				&:nth-child(3) {
					@include fallingAnimMix(22%, 12s, 4s);
					@include HaW(10px, 10px);
				}
				&:nth-child(4) {
					@include fallingAnimMix(32%, 14, 6s);
					@include HaW(50px, 50px);
				}
				&:nth-child(5) {
					@include fallingAnimMix(42%, 10s, 2s);
					@include HaW(60px, 60px);
				}
				&:nth-child(6) {
					@include fallingAnimMix(52%, 14s, 8s);
					@include HaW(30px, 30px);
				}
				&:nth-child(7) {
					@include fallingAnimMix(62%, 14s, 4s);
					@include HaW(50px, 50px);
				}
				&:nth-child(8) {
					@include fallingAnimMix(72%, 8s, 2s);
					@include HaW(60px, 60px);
				}
				&:nth-child(9) {
					@include fallingAnimMix(82%, 10s, 8s);
					@include HaW(30px, 30px);
				}
				&:nth-child(10) {
					@include fallingAnimMix(92%, 12s, 6s);
					@include HaW(20px, 20px);
				}
				&:nth-child(11) {
					@include fallingAnimMix(5%, 12s, 2s);
					@include HaW(30px, 30px);
				}
				&:nth-child(12) {
					@include fallingAnimMix(15%, 8s, 4s);
					@include HaW(10px, 10px);
				}
				&:nth-child(13) {
					@include fallingAnimMix(25%, 14s, 8s);
					@include HaW(20px, 20px);
				}
				&:nth-child(14) {
					@include fallingAnimMix(35%, 10s, 2s);
					@include HaW(60px, 60px);
				}
				&:nth-child(15) {
					@include fallingAnimMix(45%, 8s, 8s);
					@include HaW(50px, 50px);
				}
				&:nth-child(16) {
					@include fallingAnimMix(55%, 12s, 6s);
					@include HaW(20px, 20px);
				}
				&:nth-child(17) {
					@include fallingAnimMix(65%, 8s, 4s);
					@include HaW(30px, 30px);
				}
				&:nth-child(18) {
					@include fallingAnimMix(75%, 12s, 6s);
					@include HaW(50px, 50px);
				}
				&:nth-child(19) {
					@include fallingAnimMix(85%, 14s, 2s);
					@include HaW(30px, 30px);
				}
				&:nth-child(20) {
					@include fallingAnimMix(95%, 10s, 4s);
					@include HaW(60px, 60px);
				}
				.gooBall {
					background: whitesmoke;
					border-radius: 50%;
					animation: colorAnimation linear 0s infinite
						forwards;
					animation-duration: 10s;
					animation-direction: alternate;
					animation-timing-function: ease-in-out;
					opacity: 1;
				}
			}
		}
	}
}

@keyframes colorAnimation {
	0% {
		background: radial-gradient(
			circle,
			rgba(208, 255, 243, 1) 0%,
			rgba(30, 241, 189, 1) 100%
		);
		box-shadow: 0 0 10px $shadowGreen, 0 0 20px $shadowGreen,
			0 0 40px $shadowGreen;
	}
	25% {
		background: radial-gradient(
			circle,
			rgba(250, 255, 208, 1) 0%,
			rgba(222, 32, 32, 1) 100%
		);
		box-shadow: 0 0 10px $shadowBlue, 0 0 20px $shadowBlue,
			0 0 40px $shadowBlue, 0 0 60px $shadowBlue;
	}
	50% {
		background: radial-gradient(
			circle,
			rgba(255, 233, 208, 1) 0%,
			rgba(241, 144, 30, 1) 100%
		);
		box-shadow: 0 0 10px $shadowRed, 0 0 20px $shadowRed,
			0 0 40px $shadowRed, 0 0 60px $shadowRed,
			0 0 80px $shadowRed;
	}
	75% {
		background: radial-gradient(
			circle,
			rgba(208, 239, 255, 1) 0%,
			rgba(254, 255, 0, 1) 100%
		);
		box-shadow: 0 0 10px $shadowBrown, 0 0 20px $shadowBrown,
			0 0 40px $shadowBrown, 0 0 60px $shadowBrown,
			0 0 80px $shadowBrown, 0 0 100px $shadowBrown;
	}
	100% {
		background: radial-gradient(
			circle,
			rgba(249, 208, 255, 1) 0%,
			rgba(89, 30, 241, 1) 100%
		);
		box-shadow: 0 0 10px $shadowPurple,
			0 0 20px $shadowPurple, 0 0 40px $shadowPurple,
			0 0 60px $shadowPurple, 0 0 80px $shadowPurple,
			0 0 100px $shadowPurple, 0 0 120px $shadowPurple;
	}
}

@keyframes fallingAnimation {
	0% {
		top: -20%;
		transform: scale(1, 1);
		opacity: 50%;
	}
	100% {
		top: 120%;
		transform: scale(5, 5);
		opacity: 100%;
	}
}
