@mixin noSelect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

.gestureLine {
	width: 80vw;
	height: 5px;
	background: hotpink;
	cursor: -webkit-grab;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	white-space: pre;
	margin-bottom: 2em;
	&:active {
		cursor: -webkit-grabbing;
		@include noSelect();
	}
}
