@import '../../../breakpoints/breakpoints.scss';

@mixin noSelect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

.headingTitle {
	cursor: -webkit-grab;
	@include noSelect();
	background: linear-gradient(135deg, #03045e, #00b4d8);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: transform 0.2s ease-in-out,
		background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	border-radius: 8px;

	&:hover {
		background: linear-gradient(135deg, #00b4d8, #03045e);
		box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	}

	&:active {
		cursor: -webkit-grabbing;
		@include noSelect();
		transform: scale(0.95);
	}

	.headingTitle-text {
		font-size: 20px;
		color: #ffffff;
		margin: 0px;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
		animation: textGlow 2s ease-in-out infinite alternate;

		@include media('<=phone') {
			font-size: 2rem;
		}

		@include media('>phone', '<=425px') {
			font-size: 2.75rem;
		}

		@include media('>425px', '<=tablet') {
			font-size: 3rem;
		}

		@include media('>tablet', '<desktop') {
			font-size: 5rem;
		}

		@include media('>=desktop') {
			font-size: 8rem;
		}

		@include media('>=LGdesktop', 'retina2x') {
			font-size: 10rem;
		}

		@keyframes textGlow {
			from {
				text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
			}

			to {
				text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
			}
		}
	}
}
