@import './breakpoints/breakpoints.scss';

@mixin noSelect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

.headingTitle {
	cursor: -webkit-grab;
	@include noSelect();
	&:active {
		cursor: -webkit-grabbing;
		@include noSelect();
	}
	h1 {
		font-size: 20px;
		color: #03045e;
		margin: 0px;
		@include media('<=phone') {
			font-size: 2rem;
		}

		@include media('>phone', '<=425px') {
			font-size: 2.75rem;
		}

		@include media('>425px', '<=tablet') {
			font-size: 3rem;
		}

		@include media('>tablet', '<desktop') {
			font-size: 5rem;
		}

		@include media('>=desktop') {
			font-size: 8rem;
		}

		@include media('>=LGdesktop', 'retina2x') {
			font-size: 10rem;
		}
	}
}
