@import '../../breakpoints/breakpoints.scss';

@mixin flexCenter($direction, $justified, $alignment) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justified;
	align-items: $alignment;
}

@mixin heightWidth {
	width: 100%;
	height: 100%;
}

@mixin marginPadding {
	margin: 0;
	padding: 0;
}

.introContainer {
	@include flexCenter(column, center, center);
	@include marginPadding;
	height: 100vh;
	width: 100vw;
	background: radial-gradient(#333333, #000000);
	font-family: 'Rock Salt', cursive;
	#container {
		width: 100%;
		height: 100%;
		@include flexCenter(row, center, center);
		#calcImg {
			z-index: 9;
			position: absolute;
			top: 3%;
			left: 50%;
			transform: translate(-50%, -0%);
			width: 85%;
			height: 95%;
			cursor: pointer;
		}
	}
	section {
		@include flexCenter(column, center, center);
		@include heightWidth;
		margin: auto;
		height: 100vh;
		position: absolute;
		top: 20%;
		left: 50%;
		transform: translate(-50%, -50%);
		h1 {
			@include flexCenter(row, center, center);
			@include marginPadding;
			margin: auto;
			color: transparent;
			font-size: 20px;
			letter-spacing: 0.75em;
			@include media('<=phone') {
				font-size: 12px;
				font-stretch: expanded;
			}
			@include media('>phone', '<=425px') {
				font-size: 16px;
			}

			@include media('>425px', '<=tablet') {
				font-size: 30px;
			}

			@include media('>tablet', '<desktop') {
				font-size: 38px;
			}
			@include media('>=desktop') {
				font-size: 52px;
			}
			@include media('>=LGdesktop', 'retina2x') {
				font-size: 68px;
			}
			span {
				@include marginPadding;
				display: table-cell;
				animation: strobeAnimation 5s linear infinite;
				&:nth-child(1) {
					animation-delay: 0s;
				}
				&:nth-child(2) {
					animation-delay: 0.25s;
				}
				&:nth-child(3) {
					animation-delay: 0.5s;
				}
				&:nth-child(4) {
					animation-delay: 0.75s;
				}
				&:nth-child(5) {
					animation-delay: 1s;
				}
				&:nth-child(6) {
					animation-delay: 1.25s;
				}
				&:nth-child(7) {
					animation-delay: 1.5s;
				}
				&:nth-child(8) {
					animation-delay: 1.75s;
				}
				&:nth-child(9) {
					animation-delay: 2s;
				}
				&:nth-child(10) {
					animation-delay: 2.25s;
				}
				&:nth-child(11) {
					animation-delay: 2.5s;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
				@keyframes strobeAnimation {
					0%,
					100% {
						color: #ffffff;
						filter: blur(3px);
						text-shadow: 0 0 10px #1ef1bd, 0 0 20px #1ef1bd,
							0 0 40px #1ef1bd, 0 0 60px #1ef1bd,
							0 0 80px #1ef1bd, 0 0 100px #1ef1bd,
							0 0 120px #1ef1bd, 0 0 140px #1ef1bd;
					}
					5%,
					95% {
						color: transparent;
						filter: blur(0px);
						text-shadow: none;
					}
				}
			}
		}
	}
}
