@import '../../../breakpoints/breakpoints.scss';

$borderColor: #03045e;

@mixin noSelect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

.calcContainer {
	height: fit-content;
	width: auto;
	border: 5px solid $borderColor;
	border-radius: 5px;
	background: linear-gradient(135deg, #48cae4, #00b4d8);
	cursor: -webkit-grab;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: transform 0.2s ease-in-out,
		background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	animation: rainbowLaser 3s linear infinite;

	&:active {
		cursor: -webkit-grabbing;
		@include noSelect();
	}

	&:hover {
		transform: scale(1.05);
		background: linear-gradient(135deg, #00b4d8, #48cae4);
		box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
		animation: shadowPulse 1s infinite;
	}

	@include media('<=phone') {
		width: 95vw;
	}

	@include media('>phone', '<=425px') {
		width: 95vw;
	}

	@include media('>425px', '<=tablet') {
		width: 95vw;
	}

	@include media('>tablet', '<desktop') {
		width: 60vw;
	}

	@include media('>=desktop') {
		width: 60vw;
	}

	@include media('>=LGdesktop', 'retina2x') {
		width: 70vw;
	}
}

@keyframes shadowPulse {
	0% {
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	}
	50% {
		box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	}
	100% {
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	}
}

@keyframes rainbowBorder {
	0% {
		border-color: #ff0000;
	}
	16% {
		border-color: #ff7f00;
	}
	33% {
		border-color: #ffff00;
	}
	50% {
		border-color: #00ff00;
	}
	66% {
		border-color: #0000ff;
	}
	83% {
		border-color: #4b0082;
	}
	100% {
		border-color: #8b00ff;
	}
}

@keyframes rainbowLaser {
	0% {
		box-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000,
			0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000,
			0 0 60px #ff0000, 0 0 70px #ff0000;
	}
	16% {
		box-shadow: 0 0 10px #ff7f00, 0 0 20px #ff7f00,
			0 0 30px #ff7f00, 0 0 40px #ff7f00, 0 0 50px #ff7f00,
			0 0 60px #ff7f00, 0 0 70px #ff7f00;
	}
	33% {
		box-shadow: 0 0 10px #ffff00, 0 0 20px #ffff00,
			0 0 30px #ffff00, 0 0 40px #ffff00, 0 0 50px #ffff00,
			0 0 60px #ffff00, 0 0 70px #ffff00;
	}
	50% {
		box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00,
			0 0 30px #00ff00, 0 0 40px #00ff00, 0 0 50px #00ff00,
			0 0 60px #00ff00, 0 0 70px #00ff00;
	}
	66% {
		box-shadow: 0 0 10px #0000ff, 0 0 20px #0000ff,
			0 0 30px #0000ff, 0 0 40px #0000ff, 0 0 50px #0000ff,
			0 0 60px #0000ff, 0 0 70px #0000ff;
	}
	83% {
		box-shadow: 0 0 10px #4b0082, 0 0 20px #4b0082,
			0 0 30px #4b0082, 0 0 40px #4b0082, 0 0 50px #4b0082,
			0 0 60px #4b0082, 0 0 70px #4b0082;
	}
	100% {
		box-shadow: 0 0 10px #8b00ff, 0 0 20px #8b00ff,
			0 0 30px #8b00ff, 0 0 40px #8b00ff, 0 0 50px #8b00ff,
			0 0 60px #8b00ff, 0 0 70px #8b00ff;
	}
}
