@import '../../breakpoints/breakpoints.scss';

$borderColor: #03045e;

@mixin noSelect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

.calcContainer {
	height: fit-content;
	width: auto;
	border: 5px solid $borderColor;
	border-radius: 5px;
	background-color: #48cae4;
	cursor: -webkit-grab;

	&:active {
		cursor: -webkit-grabbing;
		@include noSelect();
	}

	@include media('<=phone') {
		width: 95vw;
	}

	@include media('>phone', '<=425px') {
		width: 95vw;
	}

	@include media('>425px', '<=tablet') {
		width: 95vw;
	}

	@include media('>tablet', '<desktop') {
		width: 60vw;
	}

	@include media('>=desktop') {
		width: 60vw;
	}

	@include media('>=LGdesktop', 'retina2x') {
		width: 70vw;
	}
}
