$borderColor: #03045e;

@mixin noSelect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

.calcContainer {
	height: fit-content;
	width: 52vw;
	border: 5px solid $borderColor;
	border-radius: 5px;
	background-color: #48cae4;
	cursor: -webkit-grab;

	&:active {
		cursor: -webkit-grabbing;
		@include noSelect();
	}
}
